<body>
	<div class="container">
		<div class="row">

			<!-- サクセスメッセージ表示 -->
			<p>
				<% if flash[:notice] %>
					<%= flash[:notice] %>
				<% end %>
			</p>

			<section class="col-xs-3">
				<!-- ユーザー情報と投稿フォームを表示 -->
				<%= render 'users/list', book: Book.new, user: @user %>
			</section>


			<section class="col-xs-9">
				<h1>Book detail</h1>

				<!-- 投稿内容を表示 -->
				<table class="table table-hover table-inverse">
					<tr>
						<td>
							<%= attachment_image_tag @book.user, :profile_image, :fill, 50, 50, fallback: "img/no-image.png", size: "50x50" %>
						</td>
						<td><%= @book.title %></td>
						<td><%= @book.body %></td>

						<!-- 編集・削除 条件分岐 -->
						<% if @book.user.id == current_user.id %>
							<td>
								<%= link_to "Edit", edit_book_path, class: "edit_book_#{@book.id} btn btn-sm btn-success" %>
							</td>

							<td>
								<%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？", class: "destroy_book_#{@book.id} btn btn-sm btn-danger" %>
							</td>
						<% end %>
					</tr>
				</table>

				<!-- ユーザー詳細画面へのリンク -->
				<%= link_to @user.name, user_path(@user.id), class: "user_#{@user.id}" %>
			</section>
		</div>
	</div>
</body>